<div style="text-align: center;">
  <h1>Claims Management</h1>
</div>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Claim</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 30%">Patient</th>
      <th style="width: 10%">State</th>
      <th style="width: 10%">County</th>
      <th style="width: 20%">Days Admitted</th>
      <th style="width: 30%">Claim Amount Reimbursed</th>
      <th style="width: 10%">Race</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Claim of claims" style="color: darkred">
      <td><b>{{Claim.beneId}}</b></td>
      <td><b>{{Claim.state}}</b></td>
      <td><b>{{Claim.county}}</b></td>
      <td><b>{{Claim.daysAdmitted}}</b></td>
      <td><b>{{Claim.inscClaimAmtReimbursed}}</b></td>
      <td><b>{{Claim.race}}</b></td>
      <td style="white-space: nowrap">
        <a routerLink="edit/{{Claim.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
        <button (click)="verifyClaim(Claim.id)" class="btn btn-sm btn-info mr-1" [disabled]="Claim.isVerifying">
          <span *ngIf="Claim.isVerifying" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!Claim.isVerifying">Verify</span>
        </button>
        <button (click)="deleteClaim(Claim.id)" class="btn btn-sm btn-danger btn-delete-Claim"
          [disabled]="Claim.isDeleting">
          <span *ngIf="Claim.isDeleting" class="spinner-border spinner-border-sm"></span>
          <span *ngIf="!Claim.isDeleting">Delete</span>
        </button>
      </td>
    </tr>
    <tr *ngIf="!claims">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>