<div class="p-4">
  <div class="container">
    <div *ngIf="!loginDisplay" style="text-align: center;">
      <h1>Have you ever been the victim of claim fraud</h1>
      <h2>Join Spartan - near-real time fraud detection system</h2>
    </div>

    <div *ngIf="loginDisplay">
      <div>
        <div class="p1" style="text-align: center;">
          <h1>Spartan</h1>
          <h2>Powered By Azure Machine Learning</h2>
        </div>
        <!-- <div class="p2">
          <h4>Save money and time Using Our Advanced Claims Fraud Detection System</h4>
        </div> -->
      </div>
    </div>
  </div>
</div>
